@font-face {
  font-family: "KoPubWorld";
  src: url(../fonts/KoPubWorld.ttf) format("truetype");
}
@font-face {
  font-family: "KBIZWINDOW";
  src: url(../fonts/KBIZWINDOW.ttf) format("truetype");
}
@font-face {
  font-family: "NotoSans";
  src: url("../fonts/NotoSansCJKkr-Thin.otf") format("opentype");
}
